<div class="board">
  {{#animes}}
  <div class="card">
    <a href="{{{myanimelistLink}}}" target="_newtab" imageanchor="1">
      <img class="cover" alt="{{title}} Cover" border="0" title="{{title}}"
        src="{{{coverURL}}}" />
    </a>
    <div class="title">
      <a href="{{{bloggerLink}}}">{{{title}}}</a>
    </div>
  </div>
  {{/animes}}
</div>